MENTRAOS_API_KEY=your_mentra_api_key_here 
PACKAGE_NAME=your.package.namehere # i.e: com.mentra.karaoke
PORT=3000

# ACRCloud configuration - Get these values from your ACRCloud project dashboard (https://console.acrcloud.com/)
ACRCLOUD_ACCESS_KEY=
ACRCLOUD_ACCESS_SECRET=
ACRCLOUD_HOST=
ACRCLOUD_PROJECT_ID=
ACRCLOUD_PROJECT_NAME=
